<?xml version="1.0"?>

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd">

	<!-- Exposed resources -->
 
 	<!-- Double dwr:configuration tag test -->
	<dwr:configuration>
		<dwr:convert type="bean" class="org.testdwr.springmvc.model.**" javascript="*" />
	</dwr:configuration>

	<!--  Remoted Beans -->

	<!-- This test handles the new annotation configuration -->
	<dwr:annotation-scan base-package="org.testdwr.springmvc" />

	<!-- This test handles lazy init beans and the new default naming -->
	<bean id="lazy" class="org.testdwr.springmvc.SpringLazyBean" lazy-init="true">
		<dwr:remote />
	</bean>

	<!-- This test handles proxy references to beans declared elsewhere (in a parent context) -->
	<dwr:proxy-ref bean="proxyMe" javascript="Calculator" />

	<!--  MVC Configuration -->
	<dwr:controller />

	<dwr:url-mapping />

</beans>
