<?xml version="1.0"?>

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
      	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
        http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-3.0.xsd">

	<!-- Bean Converters -->
 	<bean id="prefixConverter" class="org.testdwr.springmvc.conversion.PrefixedConverter">
 		<property name="prefix" value="Hi " />
 	</bean>

 	<!-- Double dwr:configuration tag test -->
	<dwr:configuration>
		<dwr:convert type="bean" class="org.testdwr.springmvc.model.SpringMvcBean" javascript="*" />
		<dwr:convert class="org.testdwr.springmvc.conversion.*" ref="prefixConverter" />
	</dwr:configuration>

	<!--  Remoted Beans -->

	<!-- This test handles the new annotation configuration -->
	<dwr:annotation-scan base-package="org.testdwr.springmvc" />

	<!-- This test handles lazy init beans and the new default naming -->
	<bean id="lazy" class="org.testdwr.springmvc.SpringLazyBean" lazy-init="true">
		<dwr:remote />
	</bean>

	<!-- This test handles proxy references to beans declared elsewhere (in a parent context) -->
	<dwr:proxy-ref bean="proxyMe" javascript="Calculator" />

	<!-- This test handles AOP proxies -->
	<aop:aspectj-autoproxy proxy-target-class="false" />

	<bean class="org.testdwr.springservlet.aop.AnAspect" />

	<bean id="generator" class="org.testdwr.springmvc.SpringAspectedBean">
		<dwr:remote />
		<aop:scoped-proxy proxy-target-class="false" />
	</bean>

	<!-- This test handles scoped proxies -->
	<bean id="giver" class="org.testdwr.springmvc.scoped.ScopedBean" scope="session">
		<dwr:remote>
			<dwr:include method="giveMe" />
		</dwr:remote>
		<aop:scoped-proxy proxy-target-class="false" />	
	</bean>

	<!-- This test handles annotated converters -->
	<bean class="org.testdwr.springmvc.SpringAnnotatedConverter">
		<dwr:remote javascript="AnnotatedConverter" />
	</bean>

	<!-- This test handles annotated converters -->
	<bean class="org.testdwr.springmvc.conversion.SpringCustomConverterBean">
		<dwr:remote javascript="SpringBeanConverter" />
	</bean>

	<!--  MVC Configuration -->
	<dwr:controller />

	<dwr:url-mapping />

</beans>
