<?xml version="1.0"?>

<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:jee="http://www.springframework.org/schema/jee"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
    xmlns:security="http://www.springframework.org/schema/security"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
        http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security-2.0.xsd
        http://www.directwebremoting.org/schema/spring-dwr http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd
        ">

  <!-- Exposed resources -->
  <dwr:configuration>
    <dwr:convert type="bean" class="org.testdwr.springservlet.SpringServletBean" javascript="SpringServletBean"/>
    <!-- this is a bad idea for live, but can be useful in testing -->
    <dwr:convert type="exception" class="java.lang.Exception"/>
    <dwr:convert type="bean" class="java.lang.StackTraceElement"/>
  </dwr:configuration>

  <dwr:controller id="dwrController" debug="true"/>
  <bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
    <property name="alwaysUseFullPath" value="true"/>
    <property name="mappings">
      <props>
        <prop key="/springservlet/**/*">dwrController</prop>
      </props>
    </property>
  </bean>

  <!--
  <filter class="com.example.dwr.monitor.MonitoringAjaxFilter"/>
  -->

  <bean name="springServletTest" class="org.testdwr.springservlet.SpringServletTest">
    <dwr:remote javascript="SpringServletTest"/>
  </bean>

</beans>
