<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app id="dwr">

  <display-name>DWR Test</display-name>

  <!-- Part of springservlet -->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/springservlet.xml</param-value>
  </context-param>

  <!-- Part of dwr -->
  <listener>
    <listener-class>org.directwebremoting.servlet.DwrListener</listener-class>
  </listener>

  <!-- Part of springservlet -->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <!-- Part of guice -->
  <listener>
    <listener-class>org.testdwr.guice.TestDwrGuiceServletContextListener</listener-class>
  </listener>

  <!-- Part of dwr -->
  <servlet>
    <servlet-name>dwr</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>classes</param-name>
      <param-value>
      org.testdwr.annotate.AnnotateTest,
      org.testdwr.annotate.AnnotateBean
      </param-value>
    </init-param>
    <init-param>
      <param-name>interactivity</param-name>
      <param-value>activeReverseAjax</param-value>
    </init-param>
    <init-param>
      <param-name>maxWaitAfterWrite</param-name>
      <param-value>-1</param-value> <!--  Let's test Reverse Ajax in Full Streaming Mode -->
    </init-param>
    <init-param>
      <!-- Previously we've had this enabled but remoted toString() interferes with FireBug so it has been disabled and tests adjusted accordingly -->
      <param-name>allowImpossibleTests</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>allowGetForSafariButMakeForgeryEasier</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>ContainerType</param-name>
      <param-value>DwrServlet</param-value>
    </init-param>
    <init-param>
      <param-name>generateDtoClasses</param-name>
      <param-value>interface, dto, dtoall</param-value>
    </init-param>
    <!--
    <init-param>
      <param-name>org.directwebremoting.Container</param-name>
      <param-value>org.testdwr.plain.TestDefaultContainer</param-value>
    </init-param>
    -->
    <init-param>
      <param-name>org.directwebremoting.event.ScriptSessionListener</param-name>
      <param-value>org.testdwr.event.Test2ScriptSessionListener, org.testdwr.event.TestScriptSessionListener</param-value>
    </init-param>
    <init-param>
      <param-name>allowScriptTagRemoting</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>jsonpEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Part of alternative module system tests -->
  <servlet>
    <servlet-name>dwralt</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>generateDtoClasses</param-name>
      <param-value>interface, dto, dtoall</param-value>
    </init-param>
    <init-param>
      <param-name>amdDwrBaseModulePath</param-name>
      <param-value>${servletPath}</param-value>
    </init-param>
    <init-param>
      <param-name>amdDtoBaseModulePath</param-name>
      <param-value>dto</param-value>
    </init-param>
    <init-param>
      <param-name>dojoDwrBaseModulePath</param-name>
      <param-value>${servletPath}</param-value>
    </init-param>
    <init-param>
      <param-name>dojoInterfaceBaseModulePath</param-name>
      <param-value>interface</param-value>
    </init-param>
    <init-param>
      <param-name>dojoDtoBaseModulePath</param-name>
      <param-value>dto</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Part of DWR poll tests -->
  <servlet>
    <servlet-name>dwrpoll</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>activeReverseAjaxEnabled</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>org.directwebremoting.extend.ServerLoadMonitor</param-name>
      <param-value>org.directwebremoting.impl.PollingServerLoadMonitor</param-value>
    </init-param>
    <init-param>
      <param-name>disconnectedTime</param-name>
      <param-value>1000</param-value>
    </init-param>
    <init-param>
      <param-name>allowScriptTagRemoting</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>allowGetForSafariButMakeForgeryEasier</param-name>
      <param-value>true</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Part of DWR config tests -->
  <servlet>
    <servlet-name>dwrconf</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <!-- Part of springservlet -->
 <servlet>
    <servlet-name>springservlet</servlet-name>
    <servlet-class>org.directwebremoting.spring.DwrSpringServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>ContainerType</param-name>
      <param-value>DwrSpringServlet</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>

  <!-- Part of Spring MVC -->
  <servlet>
    <servlet-name>springmvc</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>3</load-on-startup>
  </servlet>

  <!-- Part of guice -->
  <servlet>
    <servlet-name>guice</servlet-name>
    <servlet-class>org.directwebremoting.guice.DwrGuiceServlet</servlet-class>
    <init-param>
      <param-name>ContainerType</param-name>
      <param-value>DwrGuiceServlet</param-value>
    </init-param>
    <load-on-startup>4</load-on-startup>
  </servlet>

  <!-- Part of the custom response system -->
  <servlet>
    <servlet-name>custom</servlet-name>
    <servlet-class>org.testdwr.custom.CustomResponseServlet</servlet-class>
    <load-on-startup>5</load-on-startup>
  </servlet>

  <!-- Part of dwr -->
  <servlet-mapping>
    <servlet-name>dwr</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>

  <!-- Part of alternative module system tests -->
  <servlet-mapping>
    <servlet-name>dwralt</servlet-name>
    <url-pattern>/dwralt/*</url-pattern>
  </servlet-mapping>

  <!-- Part of DWR poll tests -->
  <servlet-mapping>
    <servlet-name>dwrpoll</servlet-name>
    <url-pattern>/dwrpoll/*</url-pattern>
  </servlet-mapping>

  <!-- Part of DWR config tests -->
  <servlet-mapping>
    <servlet-name>dwrconf</servlet-name>
    <url-pattern>/dwrconf/*</url-pattern>
  </servlet-mapping>

  <!-- Part of springservlet -->
  <servlet-mapping>
    <servlet-name>springservlet</servlet-name>
    <url-pattern>/springservlet/*</url-pattern>
  </servlet-mapping>

  <!-- Part of Spring MVC -->
  <servlet-mapping>
    <servlet-name>springmvc</servlet-name>
    <url-pattern>/springmvc/*</url-pattern>
  </servlet-mapping>

  <!-- Part of guice -->
  <servlet-mapping>
    <servlet-name>guice</servlet-name>
    <url-pattern>/guice/*</url-pattern>
  </servlet-mapping>

  <!-- Part of the custom response system -->
  <servlet-mapping>
    <servlet-name>custom</servlet-name>
    <url-pattern>/custom/*</url-pattern>
  </servlet-mapping>

</web-app>
